

header{
  margin: 10px 150px 10px 150px;
}


body{
  margin: 10px 150px 10px 150px;
  background-color: #FDFEFE;
}


h1{
  margin: 10px 150px 10px 150px;
  font-size: 2.75em;
  font-style: bold;
  color: #212F3C;
  font-family: arial;
}


ul{
  margin: 10px 150px 10px 150px;
}


p{
color: #212F3C;
}
