

header{
  font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0px 100px 23px 100px;
    color: #212F3C;
}

body{
  margin: 10px 100px 10px 100px;
  background-color: #FDFEFE;
  border: 25px; 
  border-color: #F39C12;
}


h1{
  font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 60px;
    margin: 150px 100px 23px 100px;
    color: #212F3C;
}

h2{
font-family: 'Cantarell', sans-serif;
    font-weight: 1400;
    font-size: 28px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0px 100px 23px 100px;
    color: #212F3C;
}

h3{
  font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
    margin: 0px 100px 23px 100px;
    color: #212F3C;
}


p{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0px 100px 23px 100px;
    color: #212F3C;
}

ul{
   font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0px 100px 23px 100px;
    color: #212F3C;
}

a:link{
  color: #F39C12;
  text-decoration: none;
}
a:visited{
  color: #DC7633;
  text-decoration: none;
}
a:hover{
  color: #DC7633;
  text-decoration: none;
}
a:active{
  color: #DC7633;
  text-decoration: none;
}

hr { 
    display: block;
    color: #212F3C;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 100px;
    margin-right: 100px;
    border-style: inset;
    border-width: 1px;
}
