

header{
  font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0px 150px 23px 150px;
    color: #212F3C;
}


body{
  margin: 10px 150px 10px 150px;
  background-color: #FDFEFE;
}


h1{
  font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0px 150px 23px 150px;
    color: #212F3C;
}

h2{
font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0px 150px 23px 150px;
    color: #212F3C;
}

h3{
  font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0px 150px 23px 150px;
    color: #212F3C;
}

ul{
   font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0px 150px 23px 150px;
    color: #212F3C;
}


p{
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0px 150px 23px 150px;
    color: #212F3C;
}
